.date-pull-right {
    float: right;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 2em;
}

.date-pull-right::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.stressed {
    color: red;
    font-weight: bolder
}

.MathJax {
    outline: 0
}

.illu-right {
    float: right;
    margin-left: 0.2em;
}

.illu-right::after {
    clear: both;
}

/* Enhance tag page style */
#\34 08 + ul, #web + ul, #_2 + ul, #_3 + ul, #_4 + ul, #_5 + ul, #_6 + ul, #_7 + ul {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #\34 08 + ul, #web + ul, #_2 + ul, #_3 + ul, #_4 + ul, #_5 + ul, #_6 + ul, #_7 + ul {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2
    }
}

@media screen and (max-width: 480px) {
    #\34 08 + ul, #web + ul, #_2 + ul, #_3 + ul, #_4 + ul, #_5 + ul, #_6 + ul, #_7 + ul {
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
        column-count: 1
    }
}